<?xml version='1.0' encoding='utf-8'?>
<widget id="com.example.simpleApp" version="0.0.1" xmlns="http://www.w3.org/ns/widgets" xmlns:cdv="http://cordova.apache.org/ns/1.0">
    <name>simpleApp</name>
    <description>
        A sample Apache Cordova application that responds to the deviceready event.
    </description>
    <author email="dev@cordova.apache.org" href="http://cordova.io">
        Apache Cordova Team
    </author>
    <content src="index.html" />
    <access origin="*" launch-external="yes"/>

    <preference name="DisallowOverscroll" value="true" />
    <preference name="BackgroundColor" value="0xff0000ff"/>

    <plugin name="org.apache.cordova.console" version="0.2.13" />

    <plugin name="org.apache.cordova.statusbar" version="0.1.11-dev" />
    <feature name="StatusBar">
        <param name="ios-package" onload="true" value="CDVStatusBar" />
    </feature>
    <preference name="StatusBarOverlaysWebView" value="false" />
    <preference name="StatusBarBackgroundColor" value="#ffda1f" />
    <preference name="StatusBarStyle" value="default" />

    <plugin name="org.apache.cordova.splashscreen" version="r1.0.0" />
    <platform name="android">
    </platform>
    <platform name="ios">
        <splash src="www/images/splash/ios/Default~iphone.png" width="320" height="480"/>
        <splash src="www/images/splash/ios/Default@2x~iphone.png" width="640" height="960"/>
        <splash src="www/images/splash/ios/Default-Portrait~ipad.png" width="768" height="1024"/>
        <splash src="www/images/splash/ios/Default-Portrait@2x~ipad.png" width="1536" height="2048"/>
        <splash src="www/images/splash/ios/Default-Landscape~ipad.png" width="1024" height="768"/>
        <splash src="www/images/splash/ios/Default-Landscape@2x~ipad.png" width="2048" height="1536"/>
        <splash src="www/images/splash/ios/Default-568h@2x~iphone.png" width="640" height="1136"/>
        <splash src="www/images/splash/ios/Default-667h.png" width="750" height="1334"/>
        <splash src="www/images/splash/ios/Default-736h.png" width="1242" height="2208"/>
        <splash src="www/images/splash/ios/Default-Landscape-736h.png" width="2208" height="1242"/>
    </platform>
</widget>
