<div class="ui-panel-inner">
    <p>Приложение Посольства&nbsp;России поможет вам найти контакты всех консульств, посольств и представительств в любой стране мира без интернета</p>
    <p>Источник данных: <a href="http://www.mid.ru/bdomp/zu_r.nsf/straweb" target="_blank">официальный сайт Министерства иностранных дел России</a></p>
    <p>Представлено стран: {{ambassiesCount}}</p>
    <p>Дата обновления базы: 20.03.2015</p>
    <p>&copy; 2015 <a href="http://di-sol.ru/" target="_blank">Digital Solutions Group</a></p>
</div>